*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración general del documento */
body {
  margin: 0;
}
/* Estilo del contenedor del artículo */
.articulo-contenedor {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 240px;
  height: 240px; /* Aumentamos la altura para permitir espacio para el contenido */
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Ajustamos el radio para obtener bordes redondeados */
  background-color: #fff; /* Agregamos un fondo blanco para simular una tarjeta */
}

/* Estilo de la imagen dentro del artículo */
.articulo-imagen {
  width: 100%;
  height: 100%;
  border-radius: 0.3%; /* Esto hace que el contenedor tenga forma circular */

}



/* Estilo del cuadro de texto */
.text {
  width: 60%;
  padding: 0px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  padding: 19px;
  margin: 0px none;
  text-align: center;
}

/* Estilo del cuadro izquierdo */
.box.left {
  width: 100%;
  height: 50vh;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 3px;
}

/* Estilo del cuadro derecho */
.box.right {
  width: 100%;
  height: 50vh;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 3px;
}

/* Estilo del botón */
button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #51d316;
  border: none;
  border-radius: 5px;
  color: #030303;
  font-size: 14px;
  cursor: pointer;
}

/* Estilo del cuadro izquierdo */
.box.left {
  background-color: #000000;
  height: 100%; /* Ajusta la altura del cuadro a 200 píxeles */
  width: 100%; /* Ajusta el ancho del cuadro a 300 píxeles */
}

/* Estilo del rectángulo superior */
.rectangulo-arriba {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 75px); /* Restamos la altura del rectángulo de abajo para asegurarnos de que el rectángulo de arriba no se superponga */
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

/* Estilo del rectángulo inferior */
.rectangulo-abajo {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #00f;
}

/* Estilo de los resultados */
#resultados {
  max-height: 100%; /* Establecemos la altura máxima del resultados para que no se salga del rectángulo-arriba */
  padding: 9px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


